* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff4b5c;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #ff4b5c;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-content img {
  width: 300px;
  border-radius: 20px;
}

.text h1 {
  font-size: 36px;
}

.text h2 {
  font-size: 28px;
  margin: 10px 0;
}

.text h2 span {
  color: #ff4b5c;
}

.text p {
  margin: 15px 0;
  line-height: 1.6;
}

.socials a {
  color: white;
  margin-right: 15px;
  font-size: 20px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: transparent;
  color: #ff4b5c;
  border: 2px solid #ff4b5c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff4b5c;
  color: white;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;}

  .hero-content img {
  width: 300px;
  border-radius: 20px;
  margin-right: 30px;
}